<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>National Parks App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>
    <div id="row1" class="col-lg-12">
      <h1 class="jumbotron">National Parks Dashboard</h1>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
      <div id="map"></div>
    </div>
    <div id="row2" class="row">
        <div id="parkmetadata" class="col-lg-4">
            <img class="img-fluid" src="https://media.istockphoto.com/photos/niagara-falls-picture-id508345252?k=6&m=508345252&s=170667a&w=0&h=bfGaBsL8VfBTLqJxFPwm8cXGaZLsgL34Ga4JSrhTtN0=">
        </div>
        {% for result in return_list[0:10] %}
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
              <div class="card-body">
                <h4 class="card-title">{{ result.park.username }}</h4>
                {% for tweet in result.mentionData.data %}
                <div>
                  <h6 class="card-subtitle mb-2 text-muted">Data: {{ tweet.text }}</h6>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
        {% endfor %}
        <div id="articles" class="col-lg-4">
            <img class="img-fluid" src="https://media.istockphoto.com/photos/niagara-falls-picture-id508345252?k=6&m=508345252&s=170667a&w=0&h=bfGaBsL8VfBTLqJxFPwm8cXGaZLsgL34Ga4JSrhTtN0=">
        </div>
    </div>
    <script type="text/javascript" src="../static/js/logic.js"></script>
  </body>
</html>
